body {
    font-family: 'Roboto Condensed', sans-serif;
}

.card-login {
    background-image: url('/images/aduanas.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

// Barra de Navegacion de app.scss
@media(max-width:360px) {
    .logo {
        width: 40px;
    }

}
@media(max-width:350px) {
    #menu-btn {
        margin: 1px;
    }
}

.panel {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
@media(max-width:650px) {
    .panel {
        margin-left: 3rem;
    }
}

.buscar {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: white;

    &:hover {
        color: white;
    }
}

.card.card-header.embarque-referencia {
    height: auto;
    padding: 0;
    margin-bottom: 40px;
}

.observaciones {
    resize: none;
}

.dropzone .dz-preview .dz-image img {
    display: block;
    object-fit: scale-down;
    width: 100px;
}

.background {
    background: #722f37;
    max-width: 350px;

}

.background h3,
h2,
span {
    font-size: 22px;
}

.icono {
    width: 35px;
}

.navbar {
    position: fixed;
    z-index: 1030;
    width: 100%;
}

.index {
    position: relative;
}

.panel {
    margin-top: 50px;
}

.referencia {
    border-bottom: 4px solid #722f37;
    width: 35%;
    display: inline-block;
    padding-bottom: .5rem;
    padding-right: 2rem;
}

.owl-carousel .owl-stage {
    display: flex;
}

.card {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}


.info {
    height: 60rem;
}

// @media(min-width:768px) {
//     .formulario {
//         max-width: 70%;
//     }
// }
.spinner-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    background: #000000cb;
    height: 100%;
}

.orbit-spinner,
.orbit-spinner * {
    box-sizing: border-box;
}

.orbit-spinner {
    display: flex;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    perspective: 800px;
}

.orbit-spinner .orbit {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
    border-bottom: 3px solid #ff1d5e;
}

.orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
    border-right: 3px solid #ff1d5e;
}

.orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
    border-top: 3px solid #ff1d5e;
}

@keyframes orbit-spinner-orbit-one-animation {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-two-animation {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes orbit-spinner-orbit-three-animation {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//Embarque/create

.form-create,
.form-edit {
    font-size: 1.1rem;
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background: #ffffff;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 7rem;
    background: #722f37;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li div {

    position: relative;
    bottom: 0;
    width: 220px;
    padding: 15px;
    background: #722f37;
    color: #ffffff;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #722f37 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -260px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #722f37;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #722f37;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #722f37 transparent transparent;
    }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

.timeline-heptagon ul li::after {
    clip-path: polygon(50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%);
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.25);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    position: fixed;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    color: #ffffff;
    background: #722f37;
}

.page-footer a {
    display: flex;
    margin-left: 4px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #722f37;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table tbody {
    background-color: #ffffff;
    color: #000000;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #ffffff;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
    color: #000000;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}


table#highcharts-data-table-0 {
    background-color: #722f37;
}

table#highcharts-data-table-1 {
    background-color: #722f37;
}

table#highcharts-data-table-2 tr {
    background-color: #ffffff;
}

:root {
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(52, 52, 52);
    --hovercolor: rgb(23, 23, 23);
    --width-collapsed: 50px;
}

.body-expanded {
    margin-left: var(--width);
}

#main-container {
    color: white;
}

#sidemenu {
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    transition: all;
    transition-duration: .5s;
    transition-delay: 0s;
    z-index: 1000;
}

#sidemenu a {
    color: white;
    text-decoration: none;
}

/*
Header
*/
#sidemenu #header {
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}

#sidemenu #header #title {
    box-sizing: border-box;
    overflow: hidden;
}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
    vertical-align: middle;
}

#sidemenu #header #menu-btn {
    display: inline-block;
}

#sidemenu #header #menu-btn {
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburguer {
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

/*
Profile
*/
#sidemenu #profile {
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}

#sidemenu #profile #photo {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}

#sidemenu #profile #photo img {
    border-radius: 50%;
    width: 60px;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
    font-size: 24px;
    padding: var(--padding);
    overflow: hidden;
}

/*
Item
*/
#sidemenu #menu-items {
    overflow: hidden;
}

#sidemenu #menu-items .item {
    width: var(--width);
}

#sidemenu #menu-items .ite .icon {
    display: inline-block;
}

#sidemenu #menu-items .item .title {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#sidemenu #menu-items .item a {
    display: block;
}

#sidemenu #menu-items .item a:hover {
    background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .icon {
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}

#sidemenu #menu-items .item .icon img {
    width: 100%;
}

#sidemenu #menu-items .item .title {
    padding: var(--padding);
}

#sidemenu #menu-items .item.separator {
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}

.menu-expanded {
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: var(--width-collapsed);
    transition-duration: .2s;
    transition-delay: .2s;

}

.menu-expanded #header #title {
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #title span {
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    display: inline-block;
}

.menu-expanded #profile #photo {
    width: 200px;
}

.menu-expanded #profile #name {
    width: 100%;
}

.menu-collapsed {
    width: var(--width-collapsed);
    transition: var(--width-collapsed);
    transition-duration: .2s;
    transition-delay: .2s;
}

.menu-collapsed #header #title {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.menu-collapsed #profile #name {
    display: none;
}

.menu-collapsed .item {
    width: 100px;
}

// botones

.btn-nueva-importacion,.btn-nuevo-cliente {
    background-color: #a3a3a3;
}

.btn-nueva-importacion,.btn-nuevo-cliente:hover {
    background-color: #707070;
}
